.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #ffffff;
    padding: 5%;
    margin: 10%;
    border-radius: 10px;
    width: 70%;
    height: 80vh;
}

.form-container{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5%;
}

.Login{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    font-weight: bold;
}

.Signup{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.btn{
    width: 200px;
    margin-top: 25px;
}


